<br><br><br><br><br><br>
<body>
<div class="coffees-container">
    <div class="search">
        <%= link_to "トップページに戻る", coffees_path %>
   
        フリーワードでさがす<br>
        <%= form_tag({controller:"coffees",action:"tagall"}, method: :get) do %>
            <%= text_field_tag :search %> 
            <%= submit_tag '検索する'  %>
        <% end %>
    
        タグでさがす<br>
        <%= form_tag({controller:"coffees",action:"tagall"}, method: :get) do %>
            <% Tag.all.each do |t| %>
                <li><%= check_box :tag_ids, t.name %><%= t.name %></li>
            <% end %>
            <%= submit_tag '検索する' %>
        <% end %>
    </div>
   

    <div class="searchpost">
        <div class="searchlist"> 
            <% @coffees.each do |t| %>
            <br>

                <div class="tagall">
                    <div class="username">
                        <%= t.user.username %>

                    <div id="slike">
                    <% if user_signed_in? %>
                        <% if current_user.already_liked?(t) %>
                            <%= button_to coffee_like_path(id: t.id, coffee_id: t.id), method: :delete do %>
                                <i class="fas fa-heart fa-1.7x" style="color:#FFC0E0;"></i><%= t.likes.count %>
                            <% end %>
                    <% else %>
                            <%= button_to coffee_likes_path(id: t.id, coffee_id: t.id), method: :post do %>
                                <i class="far fa-heart fa-1.7x" style="color:#FFC0E0;"></i><%= t.likes.count %>
                                <% end %>
                            <% end %>
                        <% else %>
                            <i class="far fa-heart fa-1.7x" style="color:#FFC0E0;"></i><%= t.likes.count %>
                    <% end %>
                    </div>

                    </div>

                    <div class="image">
                        <% t.images.each_with_index do |image, index| %>
                            <% if index < 1 %>
                                <%= image_tag image.image_url, size: "370" %>
                                <% index +=1 %>
                            <% end %>
                        <% end %>
                    </div>

                    <div class="eachdetail">
                        <%= link_to t.shop, coffee_path(t.id) %>
                        <%= t.area %>

                        <div class="indextag">
                            <% t.tags.each do |tag| %>
                                <span><%= tag.name %></span>
                            <% end %>
                        </div>                        
                    </div>

                </div>
            <% end %>
        </div>
    </div>
</body>



